<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissions for media playback and notifications -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>
        <!-- MediaSessionService for background playback -->
        <service
            android:name=".MediaControlsService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback">
            <intent-filter>
                <action android:name="androidx.media3.session.MediaSessionService" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.samsung.android.support.ongoing_activity"
            android:value="true" />
    </application>

</manifest>
