<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissions for media playback and notifications -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>
        <!-- MediaSessionService for background playback -->
        <service
            android:name=".MediaControlsService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback">
            <intent-filter>
                <action android:name="androidx.media3.session.MediaSessionService" />
            </intent-filter>
            <!-- Android Auto discovery -->
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
            <!-- Search like Google Assistant -->
            <intent-filter>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service android:name=".MediaControlsHeadlessTask" />

        <receiver android:name="androidx.media3.session.MediaButtonReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>


        <meta-data
            android:name="com.samsung.android.support.ongoing_activity"
            android:value="true" />
    </application>

</manifest>
